* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: inherit;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #000;
    color: #9f0;
    line-height: 16px;
    font-size: 10px;
    font-family: monaco, monospace;
    font-weight: normal;
    padding: 16px;
}
.container {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.125rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    line-height: 1.25em;
}
