* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: inherit;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

:root {
  --color-background: #000;
  --color-background-header-gradient: #1457096b;
  --color-text: #fff;
  --color-h4-strong-glow: #71dcbd;
  --color-box-border: #008000;
  --color-box-border-highlight: #01d401;
  --color-box-background-transparent: #03310385;
  --color-box-background-semitransparent: #0080005d;
  --color-faq-header: #004f09;
  --color-header: #191a16;
  --color-footer: #191a16;
  --color-footer-dividing-line: #fff;
  --color-accent: #ffad43;
  --accent-opacity: 0.5;
  --color-social-media-icons: #fff;
  --color-unclicked-link: #ffad43;
  --color-link-highlight: #e700e7;
  --color-highlight-cursor: #ffffff24;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("assets/JetBrainsMono-variableWeight.ttf") format("truetype");
}

html {
  color: var(--color-text);
  line-height: 2rem;
  font-size: 16px;
  font-family: "JetBrainsMono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}
body {
  background-color: var(--color-background);
  background: linear-gradient(to right, #1a003c, #5a004d);
}
body::before{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: multiply;
  background-image: url('./images/ui/background.svg');
  background-position: center;
  background-size: 101vmax;
  background-attachment: fixed;
  opacity: 0.9;
}

.container {
  margin: 0 auto;
  padding: 2rem 0;
}
@media (min-width: 720px) {
  .container {
    padding: 2rem;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

.window {
  position: relative;
  background-color: #0008;
  border: 2px solid var(--color-accent);
  border-left: calc(2rem + 2px) solid var(--color-accent);
  color: var(--color-text);
  padding: calc(.25rem + 2px);
  margin: auto;
}
.window > p > img {
  max-width: 100%;
}
.window + .window {
  margin-top: 2rem;
}
.window > * {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 500px) {
  .window {
    max-width: 960px;
  }
}
.window::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border: 2px solid var(--color-accent);
  opacity: var(--accent-opacity);
  margin: 0.25rem;
  pointer-events: none;
}
.window::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2rem;
  width: 2rem;
  content: "";
  /*border-right: 2px solid var(--color-accent);*/
  background-image:
    url(images/ui/sidebar_widgets.svg),
    linear-gradient(to right, #000 30px, #0000 30px);
  background-position: top left;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.intro {
  margin-bottom: 2rem;
}

.blog-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-item > .image {
  margin: auto;
  padding: 0;
}

.blog-list .card-body {
  position: relative;
  flex-grow: 1;
  padding: 0;
}
.blog-list .card-body > * {
  padding-left: 1rem;
  padding-right: 1rem;
}
.blog-list .card-body::before {
  border-top: 2px solid var(--color-accent);
  opacity: var(--accent-opacity);
  left: 0;
  top: 0;
  right: 0;
  content: "";
  position: absolute;
}

.blog-list .card-body h3 {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}
.blog-list .card-body a {
  text-decoration: none;
}
.blog-list .card-body p {
  font-size: 0.8rem;
  line-height: 1.25rem;
}
body .blog-list .card-body > * + * {
  position: relative;
}
.blog-list .card-body > * + *::before {
  border-bottom: 2px solid var(--color-accent);
  opacity: var(--accent-opacity);
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  content: "";
  position: absolute;
}
.blog-list .card-body .author {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  line-height: 3rem;
}
.blog-list .card-body .author .author-avatar {
  height: 3rem;
  border-radius: 50%;
}
.blog-list .card-body .author .author-name {
  padding: 0 0.5rem;
}

@media (min-width: 600px) {
  .blog-item {
    flex-direction: row;
  }
  .blog-list .card-body::before {
    border-right: 2px solid var(--color-accent);
    border-top: unset;
    right: unset;
    top: 0;
    bottom: 0;
  }
  .blog-list .card-body h3 {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
  }
  .blog-list .card-body p {
    font-size: .9rem;
    line-height: 1.3rem;
  }
  .blog-list .card-body {
    padding-left: 2px;
  }
}

@media (min-width: 720px) {
  .blog-list .card-body h3 {
    font-size: 1.5rem;
  }
  .blog-list .card-body p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

em {
  color: var(--color-accent);
  font-style: normal;
}

h1 {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: .1rem;
  font-style: normal;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p,
p+h1,
p+h2,
p+h3,
p+h4,
p+h5,
p+h6 {
  position: relative;
}
h1+p::before,
h2+p::before,
h3+p::before,
h4+p::before,
h5+p::before,
h6+p::before,
p+h1::before,
p+h2::before,
p+h3::before,
p+h4::before,
p+h5::before,
p+h6::before {
  content: "";
  display: block;
  position: relative;
  left: -1rem;
  width: calc(100% + 2rem);
  border-bottom: 2px solid var(--color-accent);
  opacity: var(--accent-opacity);
}

h3 strong {
  font-weight: 700;
  text-shadow: #000 0 0 1px,#000 0 0 1px,
               #000 0 0 2px,#000 0 0 2px,
                var(--color-h4-strong-glow) 2px -2px 3px, var(--color-h4-strong-glow) -2px 2px 3px;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
  padding: 0.25rem 0;
}


a {
  color: var(--color-unclicked-link);
  text-underline-position: under;
  transition-duration: 0.25s;
  transition-property: color;
  transition-timing-function: ease-in-out;
}

a:hover,
a:focus {
  color: var(--color-link-highlight);
}

p {
  font-size: .85rem;
  padding: 0.5rem 0;
}

p:has(img) {
  text-align: center;
}

ol, ul {
  margin-left: 1.25rem;
}

@media (min-width: 520px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
    text-align: justify;
  }
  ol, ul {
    margin-left: 2rem;
  }
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

pre:has(code) {
  display: block;
  white-space: pre-wrap;
  background-color: var(--color-box-background-transparent);
  padding: 1rem;
  border-top: 2px solid var(--color-box-border-highlight);
  border-bottom: 2px solid var(--color-box-border-highlight);
}

.special-alt-text {
  font-size: 0;
}

hr {
  margin-top: 1rem;
  padding-top: 2rem;
  border: 0 solid var(--color-footer-dividing-line);
  border-top-width: 2px;
}

header {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 2rem;
}

#header-content,
#footer-content {
  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 0.7) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  border-top: 3px solid var(--color-accent);
  border-bottom: 3px solid var(--color-accent);
  border-image:
    linear-gradient(
      90deg,
      rgba(255, 173, 67, 0) 0%,
      rgba(255, 173, 67, 1) 20%,
      rgba(255, 173, 67, 1) 80%,
      rgba(255, 173, 67, 0) 100%
    )
  ;
  border-image-slice: 1;
}

@media (min-width: 720px) {
  header {
    padding: 2rem 2rem 0;
  }
}


#site-logo {
  display: inline-block;
}
#site-logo a {
  position: relative;
  display: block;
  background-image: url(./images/801labs.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 3rem;
  width: 11.25rem;
  margin: 0.5rem;
  font-size: 0;
}
#site-logo a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-accent);
  mix-blend-mode: multiply;
}

#nav-menu-toggle {
  float: right;
  display: block;
  padding: 1rem;
}

#nav-menu-toggle > input[type="checkbox"] {
  display: none;
}

#nav-menu-icon {
  display: block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="checkbox"] ~ #nav-menu-icon {
  background-image: url(./images/burger_menu.svg);
}
input[type="checkbox"]:checked ~ #nav-menu-icon {
  background-image: url(./images/x.svg);
}

header nav {
  display: none;
}

#nav-menu-toggle:has(input[type="checkbox"]:checked) ~ nav {
  display: block;
  position: relative;
}

header nav ul {
  list-style: none;
}

header nav ul a {
  display: block;
  color: var(--color-text);
  font-size: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  line-height: 2rem;
  text-decoration: none;
}
.nav-donate {
  color: var(--color-accent);
}

@media (min-width: 730px) {
  #nav-menu-toggle {
    display: none;
  }
  header nav {
    display: block;
    float: right;
  }
  header nav ul {
    margin-left: auto;
    margin-right: 0;
  }
  header nav ul li {
    display: inline-block;
  }
  header nav ul li a {
    padding: 1rem 0.2rem;
  }
}

@media (min-width: 780px) {
  header nav ul li a {
    padding: 1rem 0.45rem;
  }
}


footer {
  max-width: 960px;
  margin: .5rem auto 4rem;
  font-size: 0.9rem;
}

footer p {
  line-height: 1.5rem;
  text-align: center;
}

footer a {
  text-decoration: none;
}

#svg-link-list {
  display: flex;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

#svg-link-list > li {
  list-style: none;
  margin: 0.75rem;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

#svg-link-list > li a {
  font-size: 0;
}

.svg-footer-link {
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-mode: alpha;
  background-color: var(--color-accent);
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
.svg-footer-link:hover {
  background-color: var(--color-link-highlight);
}

#svg-discord {
  mask-image: url("./images/icon_discord.svg");
}
#svg-twitter {
  mask-image: url("./images/icon_twitter.svg");
}
#svg-meetup {
  mask-image: url("./images/icon_meetup.svg");
}
#svg-youtube {
  mask-image: url("./images/icon_youtube.svg");
}
#svg-github {
  mask-image: url("./images/icon_github.svg");
}

@media (min-width: 720px) {
  #svg-link-list > li {
    margin: 1.25rem;
  }
  .svg-footer-link {
    padding: 1.5rem;
  }
  footer {
    padding: 2rem;
  }
}

#footer-nav-box nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#footer-nav-box nav span {
  display: none;
}

@media (min-width: 400px) {
  #footer-nav-box nav {
    flex-direction: row;
    max-width: 600px;
    margin: auto;
  }
  #footer-nav-box nav span {
    display: inline-block;
  }
}

.footer-copy-text {
  padding: .25rem 0;
}

.footer-copy-text.bottom-links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.footer-copy-text.bottom-links > span {
  display: none;
}

@media (min-width: 360px) {
  .footer-copy-text.bottom-links {
    flex-direction: row;
  }
  .footer-copy-text.bottom-links > span {
    display: inline-block;
  }
}

.page-title-box {
  height: 8rem;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.page-title-box::before {
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  background-image: url(images/transparent_grid.png), 
  linear-gradient(to bottom, var(--color-background-header-gradient) 0%, 
  var(--color-background) 80%);
  opacity: .9;
  mask-image: linear-gradient(to bottom, #ffff, #0000);
  z-index: -1;
}

.content.organization {
  max-width: 960px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.org-buttons {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.org-buttons > a {
  border: 2px solid var(--color-box-border);
  background-color: var(--color-box-background-transparent);
  font-size: 1.25rem;
  text-decoration: none;
  min-width: 160px;
  width: 50%;
  max-width: 250px;
  padding: 1rem 0;
  margin: 1rem;
  color:var(--color-text);
}

.org-buttons > a:hover,
.org-buttons > a:focus {
  border: 2px solid var(--color-box-border-highlight);
  background-color: var(--color-box-background-semitransparent);
  font-weight: 700;
  color:var(--color-link-highlight);
  text-shadow: #000 0 0 2px,#000 0 0 2px;
}

a.donate-button:hover,
a.donate-button:focus {
  color:var(--color-accent);
}

@media (min-width: 600px) {
  .org-buttons {
    flex-direction: row;
  }
}

@media (min-width: 860px) {
  .org-buttons {
    flex-direction: column;
  }

  .content.organization {
    display: grid;
    grid-template-areas: 
    "title title"
    "org-content org-buttons";
  }

  .content.organization h2 {
    grid-area: title;
  }

  .org-content {
    grid-area: org-content;
  }

  .org-buttons {
    grid-area: org-buttons;
  }
}

.question-block {
  min-width: 280px;
  width: 80%;
  max-width: 720px;
  margin: 2.5rem auto;
  border: 2px solid var(--color-box-border);
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-areas: 
  "faq-toggle faq-question"
  "faq-answer faq-answer";
}

.faq-toggle {
  grid-area: faq-toggle;
  background-color: var(--color-faq-header);
  display: flex;
  align-items: center;
}

.faq-toggle input {
  display: none;
}

.faq-toggle-icon {
  background-image: url(images/caret_up.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  margin: auto;
}

input[type="checkbox"]:checked ~ .faq-toggle-icon {
  background-image: url(images/caret_down.svg);
}
.faq-question {

  grid-area: faq-question;
  background-color: var(--color-faq-header);
}
.faq-answer {
  display: none;
  padding: 1rem .5rem;
  grid-area: faq-answer;
  border-top: 1px solid var(--color-box-border-highlight);
  background-color: var(--color-box-background-transparent);
  list-style: inside url(images/arrow_right.svg);  
}

.faq-toggle:has(input[type="checkbox"]:checked) ~ .faq-answer {
  display: block;
}

.faq-answer ul {
  text-align: left;
}
.faq-answer ul li {
  padding: 0.5rem 2rem;
  text-indent: .3rem;
}
.post-faq-content {
  background-image: url(images/dc801_background_dark.jpg);
  background-size: cover;
  background-position: top;
}

@media (min-width: 600px) {
  .faq-question {
    height: 3.5rem;
    display: flex;
    align-items: center;
  }
  .faq-answer {
    padding: 2rem 2rem;
  }
}

.content.resources p {
  text-align: center;
  font-size: 1.15rem;
  line-height: 1.6rem;
  padding: 2rem 0;
  max-width: 57rem;
}

.equipment-tool-list-container {
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-around;
}

.equipment-tool-list-container div {
  padding: 1rem 0;
}

.equipment-tool-list-container div h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.tool-list {
  list-style: none;
}

.tool-list li {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@media (min-width: 660px) {
  .equipment-tool-list-container {
    flex-direction: row;
  }
  .equipment-tool-list-container div {
    width: 32%;
    padding: 2rem 0;
  }
}

.cursor-highlight {
  display: inline;
  animation-name: cursor-highlight;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes cursor-highlight {
  0%   {background-color: transparent;}
  49%  {background-color: transparent;}
  50%  {background-color: var(--color-highlight-cursor);}
  100% {background-color: var(--color-highlight-cursor);}
}
